# Flutter/Dart
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/pubspec.lock
**/.pub-cache/
**/.pub/
**/ios/Flutter/.last_build_id
**/android/app/debug
**/android/app/profile
**/android/app/release

# Python
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/.env
**/.venv
**/env/
**/venv/
**/ENV/
**/env.bak/
**/venv.bak/
**/.pytest_cache/
**/.coverage
**/htmlcov/

# IDE
**/.idea/
**/.vscode/
**/*.iml
**/*.ipr
**/*.iws
**/.DS_Store
